        <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <footer>
            <hr>
            Cst336 2017 &copy; epinoza<br/>
            <strong>Disclaimer</strong> the information in this webpage is fictitous.
            <br />it is used for academic purpose only.
        </footer>
        <!-- closing footer -->
        
    </body>
    <!-- closing body -->

</html>