<!DOCTYPE html>
<html>
<!--

First Website
and comment
in html
(comments can span multiple lines)

-->

<!-- This is the head -->
<!-- All styles and javascript go inside the head -->
<head>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <title>Rodrigos Espinoza : Website</title>
    <link rel="stylesheet"  href="/css/styles.css"  />
    
</head>
<!-- closing head -->

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
 
        <header>
            <h1>Sorting Algorithm</h1>
            <nav>
               
                <a href="/">Home</a>
                <a href="/bubblesort">Bubble Sort</a>
                <a href="/insertionsort">Insertion Sort</a>
                <a href="/merge">Merge Sort</a>
            </nav>
            <br /><br />
        
        </header>