<%- include('partials/header.ejs') %>
        <main>
                
                <figure id="gifbuble">
                    <iframe src='https://gfycat.com/ifr/ExaltedInconsequentialDwarfrabbit' allowfullscreen width='540' height='304'>
                    </iframe><p>
                       
                </figure>
                
                <div id="bubblesort">
                <p>Bubble sort is a comparison-based algorithm that compares each pair of elements in an array
                </p>
                <p>and swaps them if they are out of order until the entire array is sorted. For each element in the list, 
                </p>
                <p><mark>for more information visit</mark>
                </p>
                <p><a href="https://www.geeksforgeeks.org/bubble-sort/"> Click here </a>
                </p>
                    
                </div>
                </main>
        
  <%- include('partials/footer.ejs') %>