<%- include('partials/header.ejs') %>


            <main>
                
                <figure id="gif1">
                    <iframe src="https://giphy.com/embed/Nx0rz3jtxtEre" width="480" height="240" 
                    class="giphy-embed" allowFullScreen></iframe><p>
                        
                </figure>
                
                <div id="welcomeText">
                    Hello There <strong> <%= firstName %> <%= lastName %> </strong> 
                    <p>You are a blod one.
                    </p>
                    <p>This website will teach you about three common sorting algorithms.
                    </p>
                    <p>A Sorting algorithms is a set of instructions that takes an input like an array or list,
                    </p>
                    <p>performs specified operations on it and outputs a sorted output.
                    </p>
                    <p>There is no one superior algorithm, instead we talk about their efficiencies 
                    </p>
                    <p>of <strong>time</strong> and <strong>space</strong>. knowing  this allows us to 
                    </p>
                    <p>best chose the the right algorithm for the job</p>
                    
                    
                </div>
            </main>
        
<%- include('partials/footer.ejs') %>
