<%- include('partials/header.ejs') %>
            <main>
                
                <figure id="gifinsertion">
                   <iframe src='https://gfycat.com/ifr/DenseBaggyIbis' allowfullscreen width='340' height='392'></iframe>
                        
                </figure>
                
                <div id="insertionsort">
                    <p>Insertion sort is a comparison-based algorithm that builds a final sorted array one element at a time.
                    </p>
                    <p> It iterates through an input array and removes one element per iteration, finds the place the
                    </p>
                    <p> element belongs in the array, and then places it there.
                    </p>
                    <p><mark>for more information visit</mark> 
                    </p>
                    <p><a href="https://www.hackerearth.com/practice/algorithms/sorting/merge-sort/tutorial/"> Click here </a>
                    </p>
                </div>
            </main>
        
   <%- include('partials/footer.ejs') %>