<%- include('partials/header.ejs') %>
            <main>
                
                <figure id="gifmerge">
                    <iframe src='https://gfycat.com/ifr/NaturalWelloffGalago' allowfullscreen width='540' height='328'>
                    </iframe><p>
                        
                </figure>
                
                <div id="merge">
                    <p>Mergesort is a comparison-based algorithm that focuses on how to merge together 
                    </p>
                    <p>two pre-sorted arrays such that the resulting array is also sorted.
                    </p>
                    <p><mark>for more information visit</mark> 
                    </p>
                    <p><a href="https://www.hackerearth.com/practice/algorithms/sorting/merge-sort/tutorial/"> Click here </a>
                    </p>
                </div>
            </main>
        
<%- include('partials/footer.ejs') %>