body{
    background-color: black;
    color:gray;
}
header, main, nav, footer{
    text-align:center;
}





nav a { /* links within "nav" container */
    padding:15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none; /* removes underline */
    color: white;         /* defualt , links are vlue */

}

nav a:hover { /* seudo class*/
        border-bottom:2px orange solid;
        font-size: 2em;
        transition:.9s; /* transition effect */
}
#gif1, #welcomeText {
    float: left;
}
#welcomeText{
    text-align: left;
}
#gifbuble, #bubblesort{
    float: left;
}
#bubblesort{
    text-align: left;
    padding-top: 5em;
}
#gifinsertion, #insertionsort{
    float: left;
}
#insertionsort{
    padding-top:10em;
    text-align:left;
}
#gifmerge, #merge{
      float: left;
}
#merge{
    text-align: left;
    padding-top: 5em;
}

mark {
  background-color: yellow;
  color: black;
}
a{
    color: hotpink;
}




footer {
    clear: both;
    font-size: .5em;
    color: purple;
    

}
table{
    margin: 0px auto;
}
td {
    padding-right: 10px;
    font-size: 1.3em;
}

td Strong{
    color: orange;
}
#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}
ul{
    text-align: left;
    padding-left: 200px;
}
.hobby{
    color: yellow;
}
h1{
    font-family: 'Share Tech Mono', monospace;
    font-size: 4em;
    margin-bottom: 0px;
    border-bottom-style: solid;

}
